<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiang.ssm.yrn.mapper.UserConcernMapper" >
  <resultMap id="BaseResultMap" type="com.yiang.ssm.yrn.model.UserConcern" >
    <constructor >
      <idArg column="conc_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="conc_user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="conc_by_user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    conc_id, conc_user_id, conc_by_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_concern
    where conc_id = #{conc_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_concern
    where conc_id = #{conc_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yiang.ssm.yrn.model.UserConcern" >
    insert into user_concern (conc_id, conc_user_id, conc_by_user_id
      )
    values (#{conc_id,jdbcType=BIGINT}, #{conc_user_id,jdbcType=VARCHAR}, #{conc_by_user_id,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yiang.ssm.yrn.model.UserConcern" >
    insert into user_concern
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="conc_id != null" >
        conc_id,
      </if>
      <if test="conc_user_id != null" >
        conc_user_id,
      </if>
      <if test="conc_by_user_id != null" >
        conc_by_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="conc_id != null" >
        #{conc_id,jdbcType=BIGINT},
      </if>
      <if test="conc_user_id != null" >
        #{conc_user_id,jdbcType=VARCHAR},
      </if>
      <if test="conc_by_user_id != null" >
        #{conc_by_user_id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiang.ssm.yrn.model.UserConcern" >
    update user_concern
    <set >
      <if test="conc_user_id != null" >
        conc_user_id = #{conc_user_id,jdbcType=VARCHAR},
      </if>
      <if test="conc_by_user_id != null" >
        conc_by_user_id = #{conc_by_user_id,jdbcType=VARCHAR},
      </if>
    </set>
    where conc_id = #{conc_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiang.ssm.yrn.model.UserConcern" >
    update user_concern
    set conc_user_id = #{conc_user_id,jdbcType=VARCHAR},
      conc_by_user_id = #{conc_by_user_id,jdbcType=VARCHAR}
    where conc_id = #{conc_id,jdbcType=BIGINT}
  </update>
</mapper>